@charset "utf-8";

.kp-order-form-row.type-fulltime-worker {margin:0 0 28px 0;}
.kp-order-form-row.type-fulltime-worker .o-input-box-replaced {float:left; margin:0 10px 0 0;}
.kp-order-form-row.type-fulltime-worker .txt-label {padding:2px 0 0 0; display:block; overflow:hidden;}

.p-worker-heads {margin:0 0 27px 0;}
.p-worker-heads-fields {width:77.07%; float:left;}
.p-worker-heads-logo {width:22.8%; float:right; text-align:center;}
.p-worker-heads-logo a {outline:none;}
.p-worker-heads-logo img {width:auto; max-width:100%; height:auto; max-height:110px; vertical-align:top;}
.p-worker-heads-photo,
.p-worker-heads-nophoto {
    width:118px; height:118px; position:relative; display:inline-block; vertical-align:top; margin:0 auto; text-decoration:none !important; background:no-repeat center center;
    -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.p-worker-heads-nophoto {
    background-image:url(../img/blank/nophoto.jpg);
}

.p-worker-heads-photo-block {width:118px; height:118px; position:relative; margin:0 auto;}
.p-worker-heads-photo-add {
    width:100%; height:100%; position:absolute; left:0; top:0; z-index:20;
}
.p-worker-heads-photo-add input {width:132px; height:132px; border:0; padding:0; margin:0; background:0; opacity:0; visibility:hidden;}
.p-worker-heads-photo-add:after {
    width:auto; height:auto; line-height:128px; content:'+'; position:absolute; left:0; right:0; top:0; bottom:0; font-weight:bold; font-size:72px; color:#fff; text-align:center; background:rgba(0,0,0,0.35); z-index:3;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.p-worker-heads-photo-block:hover .p-worker-heads-photo-control {opacity:1;}

.p-worker-heads-photo-block .p-worker-heads-nophoto {width:auto; height:auto; position:absolute; left:0; right:0; top:0; bottom:0; opacity:0;}
.p-worker-heads-photo-block .p-worker-heads-photo {display:none;}

.p-worker-heads-photo-block:hover .p-worker-heads-nophoto {opacity:1;}
.p-worker-heads-photo-block.type-uploads .p-worker-heads-photo {display:block;}



.p-worker-work-info-item {width:100%; display:table; margin:0 0 5px 0;}
.p-worker-work-info-item.type-inline {width:auto;}
.p-worker-work-info-item.type-empty:after {content:'_'; opacity:0;}
.p-worker-work-info-item .op-input-label {display:table-cell; vertical-align:top; padding-right:6px; white-space:nowrap;}
.p-worker-work-info-item-box {display:table-cell; vertical-align:top; color:#2b2b2b;}

.p-worker-work-info-item.type-regionwork .op-input-box {width:100%; display:table-cell; vertical-align:top;}

.p-worker-work-info-item.type-sex .op-input-box {width:60px;}
.p-worker-work-info-item.type-sex .o-form-select-chosen .chosen-container .chosen-single > span {margin-right:0;}
.p-worker-work-info-item.type-sex .o-form-select-chosen .chosen-container .chosen-results li {padding:8px 5px;}
.p-worker-work-info-item .o-form-select-chosen .chosen-container .chosen-single {line-height:1.2;}
.p-worker-work-info-item-box .o-form-select-chosen.style-minimal .chosen-container .chosen-single > span + div {top:6px;}


.p-worker-work-info-cols {width:100%; display:table;}
.p-worker-work-info-col {display:table-cell; vertical-align:top;}
.p-worker-work-info-col + .p-worker-work-info-col {padding-left:12px;}

.p-worker-work-info-item.type-regionwork {margin:32px 0;}


.kp-order-form-row.type-addressworker {margin-bottom:32px;}

.kp-order-form-row.type-metro .op-input-label {margin:0 6px 0 0;}
.o-form-select-chosen.type-metro {width:214px;}

.o-form-select-chosen.type-typework {width:214px;}

.kp-order-form-row.type-htextarea .op-input-label {float:left; margin:0 6px 0 0;}
.kp-order-form-row.type-htextarea .op-input {display:block; overflow:hidden;}
.kp-order-form-row.type-htextarea .op-input textarea {height:22px;}

.o-form-select-chosen.type-citizenship {width:276px;}

.kp-order-form-row.type-birthday .op-input {margin:0 14px 0 0;}
.kp-order-form-row.type-birthday .op-input {width:94px;}
.worker-birthday-result {display:inline-block; vertical-align:top; color: #a6a9ae;}

.kp-order-form-row.type-pasport .op-input-label {float:left; margin-right:4px;}
.kp-order-form-row.type-pasport .op-input {overflow:hidden; display:block;}
.kp-order-form-row.type-pasport .op-input textarea {height:22px;}

.p-worker-pasport-col {display:inline-block; vertical-align:top; margin:0 96px 0 0;}
.o-form-select-chosen.type-pasport {width:116px;}

.p-worker-card-col {display:inline-block; vertical-align:top; margin:0 60px 0 0;}
.p-worker-card-col .o-input-box-replaced {margin:-2px 4px 0 0; vertical-align:top;}
.p-worker-card-col .op-input {width:216px;}


/* Page :: Calcs */
.worker-calcs-range-choise {margin:0 0 28px 0;}
.worker-calcs-range-choise-item {
    height:32px; line-height:32px; padding:0 10px; display:inline-block; vertical-align:middle; margin:0 10px 0 0; font-size:15px; color:#1655a3; cursor:pointer;
    -webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
}
.worker-calcs-range-choise-item.current {color:#000; background-color:#fec711;}

.worker-calcs-range-choise-item-input {width:184px; height:36px; display:inline-block; vertical-align:middle;}
.worker-calcs-range-choise-item-input input {
    width:100%; height:36px; padding:2px 2px 0; border:1px solid #cacaca; font-size:15px; text-align:center; background:#fff;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}


.worker-calcs-wrap {}
.dash-table.table-worker-calcs table {table-layout:fixed;}
.dash-table.table-worker-calcs thead td {padding:14px 13px; text-align:center; white-space:nowrap;}
.dash-table.table-worker-calcs thead td.tbl-check .o-input-box-replaced {display:block;}
.dash-table.table-worker-calcs tbody td {font-size:14px; padding-left:13px; padding-right:13px;}
.btn-worker-calcs-addrow {width:21px; height:21px; line-height:23px; display:inline-block; vertical-align:middle; font-weight:800; font-size:19px; color:#fff; text-align:center; background:#8ac34a; cursor:pointer;}
.btn-worker-calcs-addrow:before {content:'+';}

.worker-calcs-addrow-input {display:inline-block;}
.worker-calcs-addrow-input input,
.table-worker-calcs tr .o-form-select-chosen .chosen-container {
    width:100%; height:26px; padding:0 5px; text-align:center; border:1px solid #cacaca; background:#fff;
    -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
}
.table-worker-calcs tr .o-form-select-chosen .chosen-container {border-color:transparent; background:0;}

.dash-kp-content .table-worker-calcs tbody tr.tbl-addheader:hover td {background-color:transparent;}
.table-worker-calcs tr.tbl-addheader td {height:48px; padding-top:9px; padding-bottom:8px;}
.table-worker-calcs tr.tbl-addheader td,
.table-worker-calcs tr.tbl-addheader td input {font-size:12px;}
.table-worker-calcs tr.tbl-addheader td input.input-request {border-color:red;color:red;}


.table-worker-calcs tr .tbl-check .o-input-box-replaced {display:none;}
.table-worker-calcs tr[data-status="paid"] .tbl-check .o-input-box-replaced {display:none;}
.table-worker-calcs tr[data-status="nopaid"] .tbl-check .o-input-box-replaced {display:block;}

.table-worker-calcs tr .o-form-select-chosen {width:89px; margin:0 auto;}
.table-worker-calcs tr .o-form-select-chosen .chosen-single span {line-height:24px; font-size:14px; color:#000; text-align:right;}
.table-worker-calcs tr .o-form-select-chosen .chosen-single > span + div {top:10px!important; opacity:0;}
.table-worker-calcs tr .o-form-select-chosen:hover .chosen-single > span + div,
.table-worker-calcs tr .o-form-select-chosen .chosen-container-active .chosen-single > span + div {opacity:1;}
.table-worker-calcs tr.tbl-addheader .o-form-select-chosen .chosen-single > span + div {opacity:1;}
.table-worker-calcs tr .o-form-select-chosen .chosen-drop {width:auto; left:-8px; right:-8px; font-size:14px;}
.table-worker-calcs tr .o-form-select-chosen .chosen-drop .chosen-results > li {padding:10px 4px;}

.table-worker-calcs tr.tbl-addheader .chosen-container {border:1px solid #cacaca; background:#fff;}
.table-worker-calcs tr.tbl-addheader .chosen-single span {font-size:12px; text-align:left;}
.table-worker-calcs tr.tbl-addheader .input-request +  .chosen-container {border-color:red;}


.dash-table tbody tr.table-worker-calcs-total:hover > td {background-color:#fff;}
.dash-table tbody tr .table-worker-calcs-total-label {font-weight:bold; color:#000; text-align:right;}


.table-worker-calcs col.tbl-check {width: 3%;}
.table-worker-calcs col.tbl-date {width: 11%;}
.table-worker-calcs col.tbl-shifts {width: 7%;}
.table-worker-calcs col.tbl-charged {width: 11%;}
.table-worker-calcs col.tbl-paid {width: 11%;}
.table-worker-calcs col.tbl-order {width: 9%;}
.table-worker-calcs col.tbl-typepay {width: 10%;}
.table-worker-calcs col.tbl-comment {width: 16%;}

.table-worker-calcs td.tbl-date {text-align:center;}
.table-worker-calcs td.tbl-shifts {text-align:center;}
.table-worker-calcs td.tbl-order {text-align:center;}
.table-worker-calcs td.tbl-typepay {text-align:center;}

.table-worker-calcs td.tbl-date .worker-calcs-addrow-input {max-width:86px;}
.table-worker-calcs td.tbl-charged .worker-calcs-addrow-input {max-width:98px;}
.table-worker-calcs td.tbl-paid .worker-calcs-addrow-input {max-width:98px;}
.table-worker-calcs td.tbl-comment .worker-calcs-addrow-input {display:block;}

.table-worker-calcs thead td.tbl-charged {text-align:left;}
.table-worker-calcs thead td.tbl-paid {text-align:left;}
.table-worker-calcs thead td.tbl-comment {text-align:left;}

.js-worker-edit {display:inline-block; position:relative; cursor:pointer;}
.input-value-empty-dotts:before {content:'...';}
.js-worker-edit:after {
    width:15px; height:15px; content:' '; display:block; position:absolute; left:100%; top:-10px; margin:0 0 0 2px; background:no-repeat center center url(/img/icons/input-worker-edit.png); opacity:0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.js-worker-edit:hover:after {opacity:1;}
.js-worker-edit.worker-calcs-addrow-input:after {display:none;}

.worker-calcs-bottom-topaid {margin:30px 0 0 0; text-align:right;}
.worker-calcs-bottom-topaid-total,
.worker-calcs-bottom-topaid-button {display:inline-block; vertical-align:middle;}
.worker-calcs-bottom-topaid-total {margin:0 12px 0 0; font-size:14px; color:#000;}
.worker-calcs-bottom-topaid-button .o-btn {height:37px; padding:0 20px; background:#347ab7;}
.worker-calcs-bottom-topaid-button .o-btn:hover {background-color:#3884c6;}

.kp-worker-position {width:auto; height:auto; padding:14px; overflow:hidden; overflow-y:auto; display:none; position:absolute; left:0; right:0; top:0; bottom:0; background:#f8fafb; z-index:200;}


/* Box :: Region work */
.regionwork-control-link .pseudo-link {margin:0 6px 0 0;}
.regionwork-control-link .pseudo-link.type-cancel {display:none;}
.regionwork-control-link.regioncheck-control-show .pseudo-link.type-cancel {display:inline-block;}

.regionwork-box {max-width:636px; padding:51px 32px 32px 32px;}
.regionwork-box-quickly {width:239px; padding:2px 0 0 0; float:right;}
.regionwork-box-quickly-title {margin:0 0 12px 0;}
.regionwork-box-quickly-item {margin:0 0 8px 0;}
.regionwork-box-quickly-item .pseudo-link {color:#005de5;}
.regionwork-box-list ul > li {overflow:hidden; margin:0 0 10px 0;}
.regionwork-box-list ul ul {display:none;}
.regionwork-box-list li.open-tree-region > ul {display:block;}
.regionwork-box-list label {display:inline-block; vertical-align:top;}
.regionwork-box-list .o-input-box-replaced {float:left; margin:0 10px 0 0;}
.regionwork-box-list .scrap > label > .o-input-box-replaced:after {
    width:0; height:0; content:' '; display:block; position:absolute; left:0; top:0; z-index:1;
    border-right:14px solid transparent;
    border-top:14px solid #3cacf0;
}
.regionwork-box-list .o-input-box-replaced + span {padding:3px 0 0 0; line-height:1.1; display:block; overflow:hidden; color:#7c7f86;}

.btn-regionwork-tree {width:15px; height:21px; line-height:21px; display:block; position:relative; float:left; color:#7c7f86; text-align:left; cursor:pointer;}
.btn-regionwork-tree:hover {color:#3cacf0;}
.btn-regionwork-tree:after {content:'+';}
.regionwork-box-list li.open-tree-region > .btn-regionwork-tree:after {content:'-';}
.regionwork-box-list li > ul {margin:10px 0 0 46px;}

.regionwork-box-bottom {margin:34px 0 0 0; text-align:right;}
.regionwork-box-bottom .o-btn {height:42px; line-height:42px; padding:0 24px;}
.regionwork-box-bottom .o-btn + .o-btn {margin-left:15px;}
.regionwork-box-bottom .o-btn.bgs-gray {background:#aaa;}
.regionwork-box-bottom .o-btn.bgs-blue {background:#347ab6;}



/* Page :: Reviews */
.w-reviews-item {margin:0 0 28px 0; font-size:14px; line-height:1.44;}
.w-reviews-item-ava {
    width:63px; height:63px; float:left; margin:0 11px 0 0; background:no-repeat center center;
    -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.w-reviews-item-profile {width:183px; float:left; margin:0 11px 0 0;}
.w-reviews-item-profile-name {}
.w-reviews-item-profile-txt {font-size:16px; color:#000;}
.w-reviews-item-profile-group {color:#666;}
.w-reviews-item-profile-company {color:#666;}
.w-reviews-item-profile-date {color:#666;}
.w-reviews-item-rating {width:14px; float:left; margin:4px 23px 0 0;}
.w-reviews-item-content {padding:3px 0 0 0; overflow:hidden; color:#666;}
.w-reviews-item-message {}
.w-reviews-item-message-inline {display:inline; outline:none;}
.w-reviews-item-message-inline textarea {font-size:14px; line-height:1.44;}
.w-reviews-item-message-inline.edited-allow {width:100%; display:block;}
.w-reviews-item-message-inline.edited-allow .op-input {display:block;}
.w-reviews-item-message-inline.edited-allow + .w-reviews-item-btns {display:none;}

.w-reviews-rating-icon {width:14px; height:14px; display:inline-block; vertical-align:top; background:no-repeat center center;}
.w-reviews-rating-icon.type-up {background-image:url(/img/icons/reviews-rating-up.png);}
.w-reviews-rating-icon.type-down {background-image:url(/img/icons/reviews-rating-down.png);}

.w-reviews-item-btns {display:inline-block; vertical-align:middle; position:relative; top:-1px; margin:0 0 0 5px;}
.w-reviews-item-btn {width:15px; height:15px; display:inline-block; vertical-align:middle; background:no-repeat center center; cursor:pointer;}
.w-reviews-item-btn.type-edit {background-image:url(/img/icons/input-worker-edit.png);}
.w-reviews-item-btn.type-remove {background-image:url(/img/icons/reviews-delete.png);}
.w-reviews-item-btn:hover {opacity:0.8;}


.w-addreviews-rating {}
.w-addreviews-rating-item {width:22px; height:22px; line-height:20px; position:relative; display:inline-block; vertical-align:top; text-align:center;}
.w-addreviews-rating-item input {width:0; height:0; position:absolute; left:0; top:0; opacity:0; border:0; background:0;}
.w-addreviews-rating-item-brdr {
    width:auto; height:auto; position:absolute; left:0; right:0; top:0; bottom:0; border:1px solid transparent;
    -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
}
.w-addreviews-rating-item input:checked + .w-addreviews-rating-item-brdr {border-color:#ccc;}
.w-addreviews-rating-item .w-reviews-rating-icon {vertical-align:middle;}


.w-addreviews {margin:80px 0 0 0;}
.w-addreviews-left {width:229px; float:left;}
.w-addreviews-right {margin:0 0 0 296px;}

.w-addreviews-label {float:left;}

.w-addreviews .o-btn {background:#8ac34a;}

.w-addreviews .op-input {display:block;}
.w-addreviews .op-input input,
.w-addreviews .op-input textarea {height:22px;}

.w-addreviews.type-toggle .w-addreviews-button {margin:32px 0 0 0;}

.w-addreviews-button {float:right;}
.w-addreviews-button .o-btn {min-width:133px; height:37px; line-height:37px; padding:0 14px;}

.w-addreviews-content .w-addreviews-rating {float:right; margin:-15px 0 0 16px;}
.w-addreviews-message {overflow:hidden;}




/* END */