@charset "utf-8";


.comp-contact-heads-fields {/*width:552px;*/ float:left;}
.comp-contact-heads-logo {
    width:260px;
    float:right;
    text-align:center;
    position: absolute;
    right: 0;
}
.comp-contact-heads-logo a {outline:none;}
.comp-contact-heads-logo img {width:auto; max-width:100%; height:auto; max-height:110px; vertical-align:top;}
.comp-contact-heads-photo,
.comp-contact-heads-nophoto {
    width:132px; height:132px; position:relative; display:inline-block; vertical-align:top; text-decoration:none !important; background:no-repeat center center;
    -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;
    -webkit-box-shadow:0 0 0 3px #edf0f5; -moz-box-shadow:0 0 0 3px #edf0f5; box-shadow:0 0 0 3px #edf0f5;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.comp-contact-heads-nophoto {
    background-image:url(../img/blank/nophoto.jpg);
}

.comp-contact-heads-photo-block {width:132px; position:relative; margin:0 auto;}
.comp-contact-heads-photo-control {
    position:absolute; right:0; top:0; opacity:0;
    -webkit-transition:opacity 0.4s;
    -moz-transition:opacity 0.4s;
    -o-transition:opacity 0.4s;
    transition:opacity 0.4s;
}
.comp-contact-heads-photo-control .op-input-control-btn {display:inline-block; vertical-align:top; margin:0; right:0;}

.comp-contact-heads-photo-add {
    width:100%; height:100%; position:absolute; left:0; top:0; z-index:20;
}
.comp-contact-heads-photo-add input {width:132px; height:132px; border:0; padding:0; margin:0; background:0; opacity:0; visibility:hidden;}
.comp-contact-heads-photo-add:after {
    width:100px; height:100px; line-height:100px; content:'+'; position:absolute; left:50%; top:50%; margin:-50px 0 0 -50px; border:1px solid #fff; font-weight:bold; font-size:28px; text-align:center; background:rgba(255,255,255,0.2); z-index:3;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;

    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    transition:all 0.4s;
    -moz-transform:matrix(0.07, 0, 0, 0.07, 0, 0);
    -webkit-transform:matrix(0.07, 0, 0, 0.07, 0, 0);
    -o-transform:matrix(0.07, 0, 0, 0.07, 0, 0);
    -ms-transform:matrix(0.07, 0, 0, 0.07, 0, 0);
    transform:matrix(0.07, 0, 0, 0.07, 0, 0);
}
.comp-contact-heads-photo-add:hover:after {
    -moz-transform:matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform:matrix(1, 0, 0, 1, 0, 0);
    -o-transform:matrix(1, 0, 0, 1, 0, 0);
    -ms-transform:matrix(1, 0, 0, 1, 0, 0);
}
.comp-contact-heads-photo-block:hover .comp-contact-heads-photo-control {opacity:1;}

.comp-contact-heads-photo-block .comp-contact-heads-nophoto {display:block;}
.comp-contact-heads-photo-block .comp-contact-heads-photo {display:none;}
.comp-contact-heads-photo-block .comp-contact-heads-photo-control {display:none;}

.comp-contact-heads-photo-block.type-uploads .comp-contact-heads-nophoto {display:none;}
.comp-contact-heads-photo-block.type-uploads .comp-contact-heads-photo {display:block;}
.comp-contact-heads-photo-block.type-uploads .comp-contact-heads-photo-control {display:block;}




/* END */