.pagination {
    display: inline-block;
    padding-left: 0;
    /*margin: 20px 0;*/
    margin: 0 0 0 20px;
    border-radius: 4px;
    height: 37px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    /*background-color: #238ed7;*/
    background-color: #238ed7;
    border-color: #238ed7;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #ebebeb;
    font-size: 14px;
    margin-left: -1px;
    color: #555555;
}

.pagination > li > a:hover {
    background-color: #eee;
}

.paginator-wrap .pages-list {
     vertical-align: inherit;
}

.pages-list li.current > a, .pages-list > li.current > span {
    color: #fff;
    background: #238ed7;
    cursor: default;
}

