@charset "utf-8";


/* Webfont: Lato-Black */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Italic */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Regular */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-LightItalic.eot');
    src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-LightItalic.woff2') format('woff2'),
    url('../fonts/Lato-LightItalic.woff') format('woff'),
    url('../fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    text-rendering: optimizeLegibility;
}




.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/* Init */
html,
body {height:100%;}
body {
    margin:0; padding:0; font:400 16px/1.2 'Lato', Arial, sans-serif; color:#555; background:#f6f7fb;
}

a img {border:0;}

* {min-height:0px;}

a:link,
a:active,
a:visited,
.pseudo-link {color:#02abed; text-decoration:underline; text-decoration-skip-ink: none; cursor:pointer;}
a:hover,
.pseudo-link:hover {text-decoration:none;}

b,
strong {font-weight:600;}

h1,h2,h3,h4,h5,h6 {display:block; margin:20px 0; padding:0; font:bold 24px/1.2 'Lato', Arial; color:#000000;}

h1 {font-size:24px;}
h2 {font-size:18px;}
h3 {font-size:17px;}
h4 {font-size:16px;}
h5 {font-size:15px;}
h6 {font-weight:normal; font-size:14px; color:inherit;}

.fleft {float:left;}
.fright {float:right;}

.display-none {display:none;}

.clearfix:before,
.clearfix:after {content:".";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix {zoom:1;}


ul,
ol,
li,
dl,
dt,
dd {padding:0; display:block; margin:0; list-style:none; font-weight:normal;}



/* Inputs */
label {display:inline-block; padding:0; margin:0; cursor:pointer;}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {padding:9px 16px; display:inline-block; vertical-align:middle; margin:0; border:1px solid #e2e2e2; font:400 16px/normal 'Lato'; color:#333; outline:none; background:#fff;
    -webkit-transition:border-color .1s linear;
    -moz-transition:border-color .1s linear;
    -o-transition:border-color .1s linear;
    transition:border-color .1s linear;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
    resize:none;
}
input[readonly] {cursor:default;}

::-webkit-input-placeholder { font-weight:300; color:#a6a9ae; -webkit-transition:color .1s linear;}
:focus::-webkit-input-placeholder { color:transparent;}
:-moz-placeholder { font-weight:300; color: #a6a9ae; -moz-transition:color .1s linear;}
:focus:-moz-placeholder { color:transparent;}
::-moz-placeholder { font-weight:300; color: #a6a9ae; -moz-transition:color .1s linear;}
:focus::-moz-placeholder { color:transparent;}
:-ms-input-placeholder { font-weight:300; color: #a6a9ae; }
:focus:-ms-input-placeholder { color:transparent;}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
textarea:hover,
select:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
.inpt_pseudo:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus,
input[type="email"]:focus,
input[type="tel"]:focus {border-color:#ccc;}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    outline:none;
    padding:10px 15px; display:inline-block; position:relative; border:0; vertical-align:top; font:400 16px/normal 'Lato'; color:#fff; text-align:center; text-decoration:none; background:#02abed; cursor:pointer;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}


input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
    background:#0ab9fd;
}
input[type="button"]:active,
input[type="submit"]:active,
button:active {
    background:#05a6e4;
}

input[type="reset"] {
    color:#555; background-color:#fff;
    box-shadow:inset 0 0 0 1px #ebebeb;
}
input[type="reset"]:hover {background-color:#eee;}

input[type="button"][disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
button[disabled] {background-color:#eee; color:#222; cursor:default;}

/* Reset */
.wrap input.reset {padding:0; display:block; margin:0; border:0; vertical-align:top; outline:none; background:0; -moz-border-radius:0;-webkit-border-radius:0;-khtml-border-radius:0;border-radius:0;}

/* Inputs three dot */
.op-input {position:relative; display:inline-block; vertical-align:top;}
.op-input input,
.op-input textarea {
    width:100%; padding:0; display:block; margin:0; border:0; border-bottom:1px solid transparent; font-size:16px; color:#2b2b2b; background:0;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.op-input textarea[data-autoheight="true"] {height:22px;}
.op-input input:hover,
.op-input input:focus,
.op-input textarea:hover,
.op-input textarea:focus {color:#010101; border-bottom-color:#ccc;}
.op-input.type-icon {padding-right:29px;}
.op-input.type-icon .op-input-icon-date,
.op-input.type-icon .op-input-icon-time {
    position:absolute; right:0; top:-3px; margin:0; opacity:0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.op-input.type-icon input:focus + .op-input-icon-date,
.op-input.type-icon input:hover + .op-input-icon-date,
.op-input.type-icon input.input-focused + .op-input-icon-date,
.op-input.type-icon input:focus + .op-input-icon-time,
.op-input.type-icon input:hover + .op-input-icon-time,
.op-input.type-icon input.input-focused + .op-input-icon-time {opacity:1;}

.op-input ::-webkit-input-placeholder { font-weight:700; color:#84888d; -webkit-transition:color .1s linear;}
.op-input :focus::-webkit-input-placeholder,
.op-input :hover::-webkit-input-placeholder { color:transparent;}
.op-input :-moz-placeholder { font-weight:700; color: #84888d; -moz-transition:color .1s linear;}
.op-input :focus:-moz-placeholder,
.op-input :hover:-moz-placeholder { color:transparent;}
.op-input ::-moz-placeholder { font-weight:700; color: #84888d; -moz-transition:color .1s linear;}
.op-input :focus::-moz-placeholder,
.op-input :hover::-moz-placeholder { color:transparent;}
.op-input :-ms-input-placeholder { font-weight:700; color: #84888d; }
.op-input :focus:-ms-input-placeholder,
.op-input :hover:-ms-input-placeholder { color:transparent;}

.op-input .input-request {border-bottom-color:red;color:red;}
.op-input .input-request::-webkit-input-placeholder { color:red; }
.op-input .input-request:-moz-placeholder { color:red; }
.op-input .input-request::-moz-placeholder { color:red; }
.op-input .input-request:-ms-input-placeholder { color:red; }
.op-input .input-request {border-bottom-color:red;color:red;}
.op-input .input-request:focus::-webkit-input-placeholder { color:transparent; }
.op-input .input-request:focus:-moz-placeholder { color:transparent; }
.op-input .input-request:focus::-moz-placeholder { color:transparent; }
.op-input .input-request:focus:-ms-input-placeholder { color:transparent; }

.op-input-label {display:inline-block; vertical-align:top; margin:0 2px 0 0; font-size:16px; color:#a6a9ae;}

.op-input-icon-date {width:22px; height:22px; display:inline-block; vertical-align:top; background:no-repeat center center url(../img/icons/input-date.png);}
.op-input-icon-time {width:22px; height:22px; display:inline-block; vertical-align:top; background:no-repeat center center url(../img/icons/input-time.png);}

.op-input-box {display:inline-block; vertical-align:top;}

.op-input-control-btn {width:16px; height:16px; position:absolute; right:6px; top:50%; margin:-11px 0 0 0; cursor:pointer;}

.op-input-control-btn[data-op-input="clear"] {
    opacity:0; visibility:hidden;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    -moz-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
}
.op-input.input-focus .op-input-control-btn[data-op-input="clear"] {opacity:1; visibility:visible;}

.op-input-control-btn > span {position:absolute; left:0; top:0; opacity:0;}
.op-input-control-btn > span:first-child {opacity:1;}
.op-input-control-btn:hover > span:first-child {opacity:0;}
.op-input-control-btn:hover > span.btn-hover {opacity:1;}

.op-input-control-btn + .op-input-control-btn {right:28px;}
.op-input-control-btn + input {padding-right:25px;}
.op-input-control-btn + .op-input-control-btn + input {padding-right:50px;}
.op-input-control-btn + .op-input-control-btn + .op-input-control-btn {right:48px;}
.op-input-control-btn + .op-input-control-btn + .op-input-control-btn + input {padding-right:70px;}

.op-input-control-btn + textarea {padding-right:25px;}

input + .op-input-control-btn {right:47px; margin-top:-10px;}

.navlist-merge {display:table; border-spacing:0;}
.navlist-merge-label {padding:0 3px 0 0; display:table-cell; vertical-align:middle; font-size:16px; color:#a6a9ae;}
.navlist-merge-label-txt {display:inline-block; vertical-align:middle;}
.navlist-merge-item,
.navlist-merge-infos{display:table-cell; vertical-align:middle;}
.navlist-merge.type-fuses .navlist-merge-item + .navlist-merge-item .checks-options-btn {margin-left:-5px;}
.navlist-merge-infos{padding:0 0 0 4px; color:#a6a9ae;}

.navlist-merge-sufix {display:inline-block; vertical-align:middle;}

.navlist-merge.type-btns .checks-options-btn-label {min-width:40px; padding:0 5px;}
.navlist-merge.type-btns .navlist-merge-item + .navlist-merge-item .checks-options-btn {margin-left:2px;}
/* END Inputs */

.icon-input-ctrl-clear {width:16px; height:16px; display:inline-block; vertical-align:top; margin-top:1px; background:no-repeat center center url(../img/icons/input-control-clear.png);}
.icon-input-ctrl-clear-h {width:16px; height:16px; display:inline-block; vertical-align:top; margin-top:1px; background:no-repeat center center url(../img/icons/input-control-clear-h.png);}
.icon-input-ctrl-search {width:16px; height:16px; display:inline-block; vertical-align:top; background:no-repeat center center url(../img/icons/input-control-search.png);}
.icon-input-ctrl-search-h {width:16px; height:16px; display:inline-block; vertical-align:top; background:no-repeat center center url(../img/icons/input-control-search-h.png);}
.icon-input-ctrl-down {width:16px; height:16px; display:inline-block; vertical-align:top; background:no-repeat center center url(../img/icons/input-control-down.png);}
.icon-input-ctrl-down-h {width:16px; height:16px; display:inline-block; vertical-align:top; background:no-repeat center center url(../img/icons/input-control-down-h.png);}

.icon-input-ctrl-add,
.icon-input-ctrl-add-h {width:16px; height:16px; display:inline-block; vertical-align:top; position:relative;}
.icon-input-ctrl-add:after,
.icon-input-ctrl-add-h:after {
    width:16px; height:16px; line-height:16px; content:'+'; position:absolute; left:50%; top:50%; margin:-7px 0 0 -8px; font-weight:bold; font-size:20px; text-align:center;
}
.icon-input-ctrl-add-h:after {color:#458fd2;}



/* PLUGIN :: Calendar */
.daterangepicker {
    padding:0; font-size:13px; border:0; background:#fff;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
}
.daterangepicker .calendar-table table {border-collapse:separate; border-spacing:1px;}
.daterangepicker.drop-up:before {border-top-color:#eee;}
.daterangepicker .calendar-table th {font-weight: 500; font-size: 10px; color: #757575;}
.daterangepicker .calendar-table th.month {font-size:13px;}
.daterangepicker .calendar-table td {
    font-size:11px;
    border-radius:24px;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
    width:24px; min-width:24px; height:24px; line-height:21px;
    box-sizing:border-box;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {color:#000; background-color:#e0e0e0;}
.daterangepicker .today,
.daterangepicker .today.active.start-date.end-date {
    color:#fff; background-color:#52adf3;
    border-radius:24px;
}
.daterangepicker.ltr .drp-calendar.left .calendar-table {padding-right:0;}
.daterangepicker .drp-buttons {border-color:#eee;}
.daterangepicker .drp-selected {padding-top:5px;}
/* END - PLUGIN :: Calendar */


/* Plugin chosen */
.o-form-select-chosen input {
    width:100%; height:39px; padding:0 10px; display:block; margin:0; border:1px solid #ebebeb; background:#fff;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.o-form-select-chosen input[type="date"] {padding:7px 10px;}
.o-form-select-chosen .chosen-container {
    width:100% !important; height:39px; line-height:39px; display:block;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
    -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;
}
.o-form-select-chosen .chosen-container .chosen-single {
    height:39px; line-height:39px; color:#2b2b2b; border:1px solid #ebebeb; background:#fff;
    -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.o-form-select-chosen .input-request + .chosen-container .chosen-single {border-color:red;}
.o-form-select-chosen .chosen-container-active.chosen-with-drop .chosen-single {
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}

.o-form-select-chosen .chosen-container .chosen-single span {font-weight:400; font-size:16px;}
.o-form-select-chosen .chosen-container .chosen-single div {width:13px; height:9px; display:block; position:absolute; right:7px; top:50%; margin:-5px 0 0 0; background:no-repeat center center url(../img/icons/arrw-down.png);}



.o-form-select-chosen .chosen-container .chosen-drop {
    box-sizing: border-box;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    font-size:15px;
    border: 1px solid #ebebeb;
    background: #FFF;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.o-form-select-chosen .chosen-container-single .chosen-search input[type=text] {
    border: 1px solid #ebebeb;
}
.o-form-select-chosen .chosen-container .chosen-results {padding:0; margin:0;}
.o-form-select-chosen .chosen-container .chosen-results li {
    min-height: 18px; padding: 14px 17px; color: #555; background:0;
}
.o-form-select-chosen .chosen-container .chosen-results li:hover {
    color: #238ed7; background: #f8fafb;
}
.o-form-select-chosen .chosen-container .chosen-results li.result-selected {
    color: #238ed7; background: #f8fafb;
}


.o-form-select-chosen {position:relative;}
.o-form-select-chosen div[data-op-chosen="drop"] {display:none!important;}
.o-form-select-chosen .chosen-container .chosen-single > span {margin-right:74px;}
.o-form-select-chosen .chosen-container .chosen-single > span + div {
    width:16px; height:16px; position:absolute; right:7px; top:16px; background:0; z-index:6; cursor:pointer;
}
.o-form-select-chosen .chosen-container .chosen-single > span + div b {background:0;}
.o-form-select-chosen .chosen-container .chosen-single > span + div:after,
.o-form-select-chosen .chosen-container .chosen-single > span + div:before {
    width:100%; height:100%; content:' '; display:block; position:absolute; left:0; top:0;
    background:no-repeat center center url(../img/icons/input-control-down.png);
}
.o-form-select-chosen .chosen-container .chosen-single > span + div:before {background-image:url(../img/icons/input-control-down-h.png); opacity:0;}
.o-form-select-chosen .chosen-container .chosen-single > span + div:hover:before {opacity:1;}
.o-form-select-chosen .chosen-container .chosen-single > span + div:hover:after {opacity:0;}

.o-form-select-chosen .chosen-container .chosen-single .chosen-search {width:auto; height:auto; display:block; padding:0; position:absolute; left:0; right:0; top:0; bottom:0; background:0; z-index:4;}
.o-form-select-chosen .chosen-container .chosen-single .chosen-search input[type=text] {height:42px; padding:0 72px 0 8px; border:0;}
.o-form-select-chosen .chosen-container .chosen-single .chosen-search input[type=text]:focus,
.o-form-select-chosen .chosen-container.chosen-with-drop .chosen-single .chosen-search input[type=text] {background:#fff;}

.o-form-select-chosen .chosen-container .chosen-single {z-index:5;}

.o-form-select-chosen .op-input-control-btn {display:block; right:13px; margin-top:-9px; background:0!important; z-index:20;}
.o-form-select-chosen .op-input-control-btn + .op-input-control-btn {right:34px;}
.o-form-select-chosen .op-input-control-btn + .op-input-control-btn + .op-input-control-btn {right:58px;}

.o-form-select-chosen .op-input-control-btn.type-clear {display:none;}
.o-form-select-chosen.type-choised .op-input-control-btn.type-clear {display:block;}

.o-form-select-chosen .input-request + .chosen-container {border-bottom:1px solid red;}
.o-form-select-chosen .input-request + .chosen-container .chosen-single > span {color:red;}

.o-form-select-chosen.type-single-select .chosen-container .chosen-single > span {margin-right:26px;}


.op-input-control-btn.chosen-fixed-toggler {display:none;}
.chosen-container-active + .op-input-control-btn.chosen-fixed-toggler {display:block; z-index:50;}
.o-form-select-chosen.type-multiple [data-op-chosen="drop"] {display:block!important;}

.drop-chosen-listing {position:relative;}
.drop-chosen-listing:after {width:auto; height:auto; content:' '; display:block; position:absolute; left:0; right:0; top:0; bottom:0; z-index:2;}
.drop-chosen-listing .chosen-choices {}
.drop-chosen-listing .search-choice {padding:0 14px 0 0; display:inline-block; position:relative; margin:3px 12px 3px 0; color:#555; z-index:3;}
.drop-chosen-listing .search-choice-close {width:auto; height:auto; display:block; position:absolute; left:0; right:0; top:0; bottom:0; z-index:20; cursor:pointer;}
.drop-chosen-listing .search-choice:after {width:11px; height:11px; content:' '; position:absolute; right:0; top:50%; margin:-6px 0 0 0; background:no-repeat center center url(../img/icons/btn-item-remove.png); cursor:pointer;}


.o-form-select-chosen ::-webkit-input-placeholder { font-weight:700; color:#84888d; -webkit-transition:color .1s linear;}
.o-form-select-chosen :focus::-webkit-input-placeholder,
.o-form-select-chosen :hover::-webkit-input-placeholder { color:transparent;}
.o-form-select-chosen :-moz-placeholder { font-weight:700; color: #84888d; -moz-transition:color .1s linear;}
.o-form-select-chosen :focus:-moz-placeholder,
.o-form-select-chosen :hover:-moz-placeholder { color:transparent;}
.o-form-select-chosen ::-moz-placeholder { font-weight:700; color: #84888d; -moz-transition:color .1s linear;}
.o-form-select-chosen :focus::-moz-placeholder,
.o-form-select-chosen :hover::-moz-placeholder { color:transparent;}
.o-form-select-chosen :-ms-input-placeholder { font-weight:700; color: #84888d; }
.o-form-select-chosen :focus:-ms-input-placeholder,
.o-form-select-chosen :hover:-ms-input-placeholder { color:transparent;}

/* END - Plugin chosen */



/* ui-autocomplete */
.ui-widget.ui-autocomplete {
    border:1px solid #ebebeb; font-size:15px; background:#fff;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.ui-widget.ui-autocomplete .ui-menu-item-wrapper {
    padding:12px 15px 8px 15px; display:block; border-color:transparent; color:#545454; text-decoration:none; white-space:nowrap; background:#fff; cursor:pointer;
}
.ui-widget.ui-autocomplete li {padding:0 1px; background:0 !important;}
.ui-widget.ui-autocomplete li:first-child .ui-menu-item-wrapper {-webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.ui-widget.ui-autocomplete li:last-child .ui-menu-item-wrapper {-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}
.ui-widget.ui-autocomplete .ui-menu-item-wrapper:hover {color:#238ed7; background:#f8fafb;}
.ui-widget.ui-autocomplete .ui-menu-item-wrapper.current {color:#238ed7; background:#f8fafb; cursor:default;}
/* END - ui-autocomplete */


a.o-btn {color:#fff; text-decoration:none;}
.o-btn {
    padding:5px 12px; display:inline-block; vertical-align:middle; font-size:16px; color:#fff; text-decoration:none; text-align:center; background:#02abed; cursor:pointer;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.bgs-purple {background-color:#a767dd;}
.bgs-green {background-color:#8bc34a;}
.bgs-blue {background-color:#02abed;}
.bgs-orange {background-color:#ffc700;}
.bgs-red {background-color:#e92020;}



.o-input-box-replaced {
    width:21px; height:21px; display:inline-block; vertical-align:middle; overflow:hidden; position:relative; padding:0; margin:0; border:0; -webkit-appearance:none; cursor:pointer; background:#fff;
}
.o-input-box-replaced input {width:100%; height:100%; padding:0; display:block; position:absolute; left:0; bottom:0; border:0; margin:0; background:0; opacity:0; z-index:10; cursor:pointer;}
.o-input-box-replaced-check {width:auto; height:auto; position:absolute; left:0; right:0; top:0; bottom:0; border:1px solid #e1e1e1; z-index:6;}
.o-input-box-replaced input[type="radio"] + .o-input-box-replaced-check {-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.o-input-box-replaced input:checked + .o-input-box-replaced-check {border-color:#04abed; background:#04abed no-repeat center center url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAIBAMAAADdFhi7AAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACXRSTlMA7jNmEcyZdyKE3z1cAAAAMklEQVQI12MAARUwyTzVgYHBgcFyogMDmxDzTCEGhs6JlRMVgBIzQRwGoIwCWF0QkAAA0VIH13bMQzoAAAAASUVORK5CYII=');}
.o-input-box-replaced input.input-request + .o-input-box-replaced-check {border-color:red;}
.o-input-box-replaced.brdr-gray .o-input-box-replaced-check {border-color:#b6b0b0;}

.pseudo-select {position:relative; display:inline-block; vertical-align:middle;}
.pseudo-select-txt {padding:0 18px 0 0; display:inline-block; vertical-align:top; cursor:pointer; outline:none;}
.pseudo-select-txt:after {
    width:0; height:0; content:' '; display:inline-block; vertical-align:top; margin:6px -18px 0 3px;
    border-left:4px solid transparent; border-right:4px solid transparent; border-top:5px solid #555;
}
.pseudo-select-drop {
    min-width:178px; position:absolute; left:0; top:100%; margin:4px 0 0 0; border:1px solid #ebebeb; font-size:15px; background:#fff; z-index:105; opacity:0; visibility:hidden;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    -moz-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;

}
.pseudo-select-drop > span {padding:14px 17px; display:block; color:#555; white-space:nowrap; cursor:pointer;}
.pseudo-select-drop > span:first-child {-webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.pseudo-select-drop > span:last-child {-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}
.pseudo-select-drop > span:hover {background:#f8fafb;}
.pseudo-select-drop > span.current {color:#238ed7; background:#f8fafb; cursor:default;}

.pseudo-select.open-drop .pseudo-select-drop {opacity:1; visibility:visible;}



.txt-upper {text-transform:uppercase;}


/* Text paragraph */
.idesc {line-height:1.45; font-size:14px;}

.idesc p {margin:20px 0;}
.idesc h1, .idesc .h1,
.idesc h2, .idesc .h2,
.idesc h3, .idesc .h3,
.idesc h4, .idesc .h4,
.idesc h5, .idesc .h5,
.idesc h6, .idesc .h6 {margin:50px 0 12px 0;}


.idesc img {max-width:100%; height:auto;}
.idesc p:first-child,
.idesc h1, .idesc h2:first-child, .idesc h3:first-child, .idesc h4:first-child, .idesc h5:first-child, .idesc h6:first-child {margin-top:0 !important;}
.idesc p:first-child,
.idesc h1:first-child, .idesc h2:first-child, .idesc h3:first-child, .idesc h4:first-child, .idesc h5:first-child, .idesc h6:first-child,
.idesc .h1:first-child, .idesc .h2:first-child, .idesc .h3:first-child, .idesc .h4:first-child, .idesc .h5:first-child, .idesc .h6:first-child {margin-top:0 !important;}

.idesc p:last-child,
.idesc h1:last-child, .idesc h2:last-child, .idesc h3:last-child, .idesc h4:last-child, .idesc h5:last-child, .idesc h6:last-child,
.idesc .h1:last-child, .idesc .h2:last-child, .idesc .h3:last-child, .idesc .h4:last-child, .idesc .h5:last-child, .idesc .h6:last-child {margin-bottom:0 !important;}

.idesc ol {
    counter-reset: ol-counter;
}
.idesc ol > li:before {
    content: counter(ol-counter) ". ";
    counter-increment: ol-counter;
}


.o-hvr {position:relative;}
.o-hvr:after {
    width:auto; height:auto; content:' '; display:block; position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(255,255,255,0.1); z-index:5; opacity:0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.o-hvr:hover:after { opacity:1;}


/* Animation */
/* Animation :: FadeIn */
@-webkit-keyframes anim_dropShow {from {opacity:0;} to {opacity:1;}}
@-moz-keyframes anim_dropShow {from {opacity:0;} to {opacity:1;}}
@keyframes anim_dropShow {from {opacity:0;} to {opacity:1;}}


/* Animation :: Rotate loop */
@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Animation :: Notify */
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes bounceOut{20%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}to{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}}@keyframes bounceOut{20%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}to{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}}
.bounceOut{-webkit-animation-duration:.75s;animation-duration:.75s;-webkit-animation-name:bounceOut;animation-name:bounceOut}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes bounceInDown{60%,75%,90%,from,
to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes bounceInDown{60%,75%,90%,from,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown}

/* Custom notify */
.notifye-wrap {width:500px; height:1px; position:fixed; right:30px; top:98px; z-index:200;}
.notify-alert {width:100%; max-width:100%; height:0; display:block; position:relative; margin:0 0 14px 0; text-align:center; z-index:99902;}
.notify-alert-box {
    max-width:100%; padding:28px 30px 28px 40px; display:block; vertical-align:top; position:relative; line-height:1.4; font-weight:400; font-size:16px; color:#fff; text-align:left; background:#37ae5c; z-index:2;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.notify-alert-box.type-error {background:#f25b64;}
.notify-alert-close {
    width:15px; height:15px; display:block; position:absolute; right:10px; top:10px; cursor:pointer; z-index:10;
    background:no-repeat center center url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAgklEQVQ4T52SUQqAMAxDdyTB04j399sbdA0so10rxQmP2jSpTNZEZBu+PMpJseBQ4J9hCK9SLaAPdYbDICHMS8Mg1a2BrEb24UiuMTBwjZr+iyAYEMRzK9m8/DKC9giOICjrGVHTBa5R1iBJF1jDV5CEBRxUQeIWUPxzt+Fzd3sDaR3b6cDlB2r9AgAAAABJRU5ErkJggg==');
}
.notify-alert-timeline {
    width:auto; height:2px; position:absolute; left:40px; right:40px; top:14px; text-align:center;
}
.notify-alert-timeline-anim {
    width:100%; height:100%; display:inline-block; vertical-align:top; background:#fff;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}


/* Custom loader */
.loaderbox {
    width:auto; height:auto; display:block; position:fixed; left:0; right:0; top:0; bottom:0; background:rgba(255, 255, 255, 0.55); z-index:1300;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    -moz-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
}
.loaderbox:after {width:120px; height:76px; content:''; display:block; position:absolute; left:50%; top:50%; margin:-33px 0 0 -60px; background:no-repeat center center url(../img/preloaders.gif?v=2);}



/* Dashboard */
.dash-wrap {width:auto; min-width:1776px; height:auto; position:fixed; left:0; right:0; top:0; bottom:0; z-index:10;}

.dash-nav {
    width:95px; height:auto; padding:20px 0 0 0; position:absolute; left:0; top:95px; bottom:0; color:#fff; z-index:11;
    -webkit-box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.06);
    box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.06);
}
.dash-nav-layer {
    width:211px; height:auto; position:absolute; left:95px; top:0; bottom:0; margin-left:-300px; border:1px solid #ebebeb; border-bottom:0; background:#fff; z-index:5; opacity:0;
    -webkit-transition: margin-left .3s ease, opacity .3s ease;
    -moz-transition: margin-left .3s ease, opacity .3s ease;
    transition: margin-left .3s ease, opacity .3s ease;
}
.dash-nav-list.current + .dash-nav-layer {margin-left:0; opacity:1;}
.dash-nav-list {width:auto; height:auto; padding-top:20px; position:absolute; left:0; right:0; top:0; bottom:0; background:#02abed; z-index:10;}
.dash-nav-list > li {position:relative; z-index:1;}
.dash-nav-list > li > a {position:relative; display:block; font-size:14px; color:#fff; text-decoration:none; text-align:center;  z-index:16; }
.dash-nav-list > li > a:after {
    width:89px; height:89px; content:' '; display:block; position:absolute; left:50%; top:0; margin:0 0 0 -45px; background:#c7edfc; z-index:10; opacity:0;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.dash-nav-icon {height:42px; padding:11px 0 0 0; display:block; position:relative; z-index:16;}
.dash-nav-label {min-height:32px; display:block; position:relative; z-index:17;}

.dash-nav-icon > span {width:40px; height:40px; display:inline-block; vertical-align:top; background:no-repeat 0 0 url(../img/icons/dash-nav.png);}
.dash-nav-icon > span.ic-nav-01 {background-position:right 0;}
.dash-nav-icon > span.ic-nav-02 {background-position:right -50px;}
.dash-nav-icon > span.ic-nav-03 {background-position:right -100px;}
.dash-nav-icon > span.ic-nav-04 {background-position:right -150px;}
.dash-nav-icon > span.ic-nav-05 {background-position:right -200px;}
.dash-nav-icon > span.ic-nav-06 {background-position:right -250px;}
.dash-nav-icon > span.ic-nav-07 {background-position:right -300px;}
.dash-nav-icon > span.ic-nav-08 {background-position:right -350px;}
.dash-nav-icon > span.ic-nav-09 {background-position:right -400px;}

.dash-nav-list > li:hover {}
.dash-nav-list > li:hover > a .dash-nav-icon > span {background-position-x:0;}
.dash-nav-list > li:hover > a {color:#000;}
.dash-nav-list > li:hover > a:after {opacity:1;}
.dash-nav-list > li:hover .dash-nav-drop {width:211px; z-index:14;}
.dash-nav-list > li:hover .dash-nav-drop-list {margin-left:0; opacity:1; z-index:14;}

.dash-nav-drop {
    width:0; padding:0 0 0 1px; overflow:hidden; position:absolute; left:100%; top:0; z-index:1;
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    transition: width .3s ease;
}
.dash-nav-drop-list {
    width:211px; border-bottom:1px solid #ebebeb; margin-left:-300px; opacity:0;
    -webkit-transition: margin-left .3s ease, opacity 1.3s ease;
    -moz-transition: margin-left .3s ease, opacity 1.3s ease;
    transition: margin-left .3s ease, opacity 1.3s ease;
}
.dash-nav-drop-list > li > a {padding:19px 10px 17px 36px; display:block; border-top:1px solid #ebebeb; color:#555; text-decoration:none;}
.dash-nav-drop-list > li > a:hover {color:#000; text-shadow:0 0 0 #000; background:#f8fafb;}


.dash-panel {
    width:auto; height:95px; position:absolute; left:0; right:0; top:0; background:#fff; z-index:12;
    -webkit-box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.06);
    box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.06);
}
.dash-left {
    width:282px; height:95px; padding:27px 36px 0 27px; float:left;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.dash-logo {float:left; margin:0 10px 0 0;}
.dash-logo img {vertical-align:top;}
.dash-logo a {text-decoration:none;}
.dash-left-text {overflow:hidden;}
.dash-left-text-title {font-size:23px; color:#238ed7;}
.dash-left-text-sub {margin:-1px 0 0 0; font-weight:100; font-size:15px; color:#555;}
.dash-left-text-title,
.dash-left-text-sub {position:relative; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}


.dash-panel-title {
    height:95px; line-height:95px; padding:0 30px 0 24px; float:left; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; font-size:24px; color:#555; white-space:nowrap; text-align:left;
}
.dash-panel-title .txt-label {
    max-width:300px; position:relative; overflow:hidden; display:inline-block; vertical-align:middle; line-height:1.2;
    text-overflow:ellipsis; white-space:nowrap;
}

.dash-panel-heads {
    height:95px; line-height:95px; padding:0 30px 0 0; float:left; border-left:1px solid #ebebeb; font-size:24px; color:#555; white-space:nowrap; text-align:left;
}
.dash-panel-heads-label {
    max-width:100%; width:700px; padding:0 0 0 34px; position:relative; top:3px; overflow:hidden; display:inline-block; vertical-align:middle; line-height:1.2;
    text-overflow:ellipsis; white-space:nowrap;
}

.dash-panel-heads-button {width:22px; height:32px; position:absolute; left:6px; top:0; text-decoration:none !important;}
.dash-panel-heads-button:after {
    width:9px; height:13px; content:' '; display:block; position:absolute; left:7px; top:7px; background:no-repeat center center url(../img/icons/dash-panel-arrw-back.png);
}
.dash-panel-heads-button:hover {opacity:0.7;}
.dash-panel-heads-label .op-input {width:100%;}
.dash-panel-heads-label .op-input input {font-size:24px; color:#555;}
.dash-panel-heads .txt-subtitle {display:block; margin:4px 0 0 0; font-size:18px;}




.dash-search {
    width:667px; height:39px; padding:3px; position:relative; float:left; margin:29px 0 0 28px;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.dash-search-option {float:left; position:relative; z-index:5;}
.dash-search-option-item {
    height:33px; line-height:35px; padding:0 26px 0 15px; position:relative; display:inline-block; vertical-align:top; font-size:16px; color:#fff; cursor:pointer;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.dash-search-option-item-remove {width:13px; height:13px; position:absolute; right:6px; top:50%; margin:-6px 0 0 0; background:no-repeat center center url(../img/icons/btn-option-remove-white.png); z-index:10;}
.dash-search-form {overflow:hidden;}
.dash-search-form-input input {
    width:100%; height:33px; padding:0 60px 0 7px; position:relative; display:block; border:0; margin:0; background:#fff; outline:none; z-index:5;
}
.dash-search-form-hover {
    width:auto; height:auto; position:absolute; left:0; right:0; top:0; bottom:0; border:1px solid #ebebeb; z-index:2;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.dash-search-form-input input:focus + .dash-search-form-hover {border-color:#ccc;}
.dash-search-form-btn {width:16px; height:16px; overflow:hidden; position:absolute; right:0; top:50%; margin:-8px 0 0 0; background:no-repeat center center; z-index:6; opacity:0.35; cursor:pointer;}
.dash-search-form-btn input {width:0; height:0; display:block; position:absolute; left:0; top:0; padding:0; color:transparent; margin:0; background:none; opacity:0; visibility:hidden;}

.dash-search-form-btn.type-submit {right:32px;}
.dash-search-form-btn.type-remove {right:9px;}

.dash-search-form-btn > span {position:absolute; left:0; top:0; opacity:0;}
.dash-search-form-btn > span:first-child {opacity:1;}
.dash-search-form-btn:hover {opacity:1;}
.dash-search-form-btn:hover > span:first-child {opacity:0;}
.dash-search-form-btn:hover > span.btn-hover {opacity:1;}




.dash-search.open-drop .dash-search-drop {opacity:1; visibility:visible;}
.dash-search-drop {
    width:auto; position:absolute; left:0; right:0; top:100%; margin:10px 0 0 0; border:1px solid #ebebeb; background:#fff; opacity:0; visibility:hidden;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    -moz-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
}
.dash-search-drop-ins {width:100%; display:table; table-layout:fixed;}
.dash-search-drop-left {width:35.4%; display:table-cell; vertical-align:top; border-right:1px solid #ebebeb; background:#f8fafb;}
.dash-search-drop-list > li {padding:19px 10px 17px 36px; cursor:pointer;}
.dash-search-drop-list > li + li {border-top:1px solid #ebebeb;}
.dash-search-drop-list > li:hover,
.dash-search-drop-list > li.current {color:#02abed;}
.dash-search-drop-list > li.current {cursor:default;}

.dash-search-drop-right {width:64.6%; padding:24px 17px; display:table-cell; vertical-align:top;}
.o-form-row + .o-form-row {margin-top:14px;}
.o-form-row-label {margin:0 0 5px 2px; font-size:16px; color:#a6a9ae;}
.o-form-row-input input {
    width:100%; height:39px; padding:0 10px; display:block; margin:0; border:1px solid #ebebeb; background:#fff;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.o-form-row-input input[type="date"] {padding:7px 10px;}
.o-form-row-input .chosen-container {
    width:100% !important; height:39px; line-height:39px; display:block;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
    -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;
}
.o-form-row-input .chosen-container .chosen-single {
    height:39px; line-height:39px; color:#a6a9ae; border:1px solid #ebebeb; background:0;
    -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.o-form-row-input .chosen-container-active.chosen-with-drop .chosen-single {
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}

.o-form-row-input .chosen-container .chosen-single span {font-weight:400; font-size:16px;}
.o-form-row-input .chosen-container .chosen-single div {width:13px; height:9px; display:block; position:absolute; right:7px; top:50%; margin:-5px 0 0 0; background:no-repeat center center url(../img/icons/arrw-down.png);}

.o-form-row-input .chosen-container .chosen-drop {
    box-sizing: border-box;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    font-size:15px;
    border: 1px solid #ebebeb;
    background: #FFF;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.o-form-row-input .chosen-container-single .chosen-search input[type=text] {
    border: 1px solid #ebebeb;
}
.o-form-row-input .chosen-container .chosen-results {padding:0; margin:0;}
.o-form-row-input .chosen-container .chosen-results li {
    min-height: 18px; padding: 14px 17px; color: #555; background:0;
}
.o-form-row-input .chosen-container .chosen-results li:hover {
    color: #238ed7; background: #f8fafb;
}
.o-form-row-input .chosen-container .chosen-results li.result-selected {
    color: #238ed7; background: #f8fafb;
}


.o-form-bottom {margin:20px 0 0 0;}
.o-form-bottom input {min-width:113px; height:37px; padding:0; margin:0 6px 0 0;}


.o-form-row-sum {width:100%; display:table; table-layout:fixed;}
.o-form-row-sum-col {display:table-cell; vertical-align:top;}
.o-form-row-sum-col.col-type {width:134px; padding:0 13px 0 0;}



/* Header panel */
.dash-panel-block {
    height:95px; padding:0 28px; float:right;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.dash-panel-block + .dash-panel-block {border-right:1px solid #ebebeb;}

.dash-panel-stat-transactions {padding:32px 0 0 0;}

.dash-panel-block.type-btns {padding-top:30px;}
.dash-panel-block.type-btns .o-btn {min-width:163px; height:37px; line-height:37px; padding:0 12px;}
.btn-dash-panel-more {height:37px; line-height:28px; display:inline-block; vertical-align:top; margin:0 10px 0 0; font-weight:bold; font-size:20px; color:#555; text-decoration:none; cursor:pointer;}

.dash-panel-block.type-transactions {padding:40px 24px 28px 0; float:none; overflow:hidden; text-align:right;}
.dash-panel-block.type-transactions .txt-label {color:#86888d;}
.dash-panel-block.type-transactions .op-input {width:90px;}

.dash-panel-notify {padding:35px 0 0 0; display:inline-block; vertical-align:top; margin:0 28px 0 0;}
.dash-panel-notify-button {display:inline-block; vertical-align:top; cursor:pointer;}
.dash-panel-notify-button-icon {width:26px; height:28px; position:relative; display:inline-block; vertical-align:top; background:no-repeat center center url(../img/icons/btn-panel-notify.png);}
.dash-panel-notify-button-counter {
    width:14px; height:14px; line-height:14px; display:block; position:absolute; right:-2px; top:-2px; font-size:12px; color:#fff; text-align:center; background:#ee2337;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
    -webkit-box-shadow:0 0 1px 2px #ee2337; -moz-box-shadow:0 0 1px 2px #ee2337; box-shadow:0 0 1px 2px #ee2337;
}

.dash-panel-dropdown {position:relative; display:inline-block; vertical-align:top;}
.dash-panel-dropdown-button {display:inline-block; vertical-align:top; cursor:pointer;}
.dash-panel-dropdown-ava {
    width:36px; height:36px; position:relative; display:inline-block; vertical-align:top; background:no-repeat center center;
    -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;
    -webkit-box-shadow:0 0 0 3px #edf0f5; -moz-box-shadow:0 0 0 3px #edf0f5; box-shadow:0 0 0 3px #edf0f5;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.dash-panel-dropdown-status {
    width:9px; height:9px; position:absolute; right:0; bottom:0; background:#ee2337;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
    -webkit-box-shadow:0 0 0 2px #fff; -moz-box-shadow:0 0 0 2px #fff; box-shadow:0 0 0 2px #fff;
}
.dash-panel-dropdown-status.type-online {background:#8ac34a;}
.dash-panel-dropdown-arrw {
    width:0; height:0; content:' '; display:inline-block; vertical-align:top; margin:18px 0 0 9px;
    border-left:4px solid transparent; border-right:4px solid transparent; border-top:5px solid #555;
}

.dash-panel-dropdown-drop {
    min-width:151px; position:absolute; right:0; top:100%; border:1px solid #ebebeb; font-size:15px; background:#fff; z-index:105; opacity:0; visibility:hidden;
    -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08); box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    -moz-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;

}
.dash-panel-dropdown-drop > a {padding:12px 15px 8px 15px; display:block; color:#545454; text-decoration:none; white-space:nowrap; cursor:pointer;}
.dash-panel-dropdown-drop > a:first-child {-webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.dash-panel-dropdown-drop > a:last-child {-webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}
.dash-panel-dropdown-drop > a:hover {color:#238ed7; background:#f8fafb;}
.dash-panel-dropdown-drop > a.current {color:#238ed7; background:#f8fafb; cursor:default;}

.dash-panel-dropdown.open-drop .dash-panel-dropdown-drop {opacity:1; visibility:visible;}

.icon-profile {width:18px; height:18px; display:inline-block; vertical-align:top; margin:-2px 8px 0 0; background:no-repeat 0 0 url(../img/icons/dash-profile.png);}
.icon-profile.ic-main {background-position:0 0;}
.icon-profile.ic-my {background-position:0 -28px;}
.icon-profile.ic-logout {background-position:0 -56px;}
.dash-panel-dropdown-drop > a:hover .icon-profile.ic-main {background-position:-28px 0;}
.dash-panel-dropdown-drop > a:hover .icon-profile.ic-my {background-position:-28px -28px;}
.dash-panel-dropdown-drop > a:hover .icon-profile.ic-logout {background-position:-28px -56px;}

.dash-panel-dropdown.dropdown-profile {padding-top:30px;}
.dash-panel-dropdown.dropdown-profile .dash-panel-dropdown-drop {right:-7px; top:78px;}

/* Content */
.dash-container {
    width:auto; height:auto; padding:30px 23px 30px 26px; position:absolute; left:94px; right:0; top:95px; bottom:0; overflow:hidden; overflow-y:auto; z-index:9;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.dash-container-layer {
    width:auto; height:auto; display:block; position:fixed; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.5); z-index:300; visibility:hidden; opacity:0;
   -webkit-transition: opacity .3s ease, visibility .3s ease;
    -moz-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
}

.open-container-layer .dash-container-layer {opacity:1; visibility:visible;}


.dash-content {
    background:#fff;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -webkit-box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.06);
    box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.06);
}

/* Table items */
.dash-table {}
.dash-table table {width:100%; table-layout:auto; border-collapse:collapse; border-spacing:0;}
.dash-table td {
    height:63px; padding:15px 6px 12px 6px; position:relative; border:0; font-size:15px; text-align:left;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}

.dash-table thead td {height:auto; padding:28px 6px 10px 6px; font-weight:800; font-size:14px; color:#555; text-transform:uppercase; text-align:left;}
a.tbl-heads-link {padding:0 17px 0 0; position:relative; display:inline-block; color:#555; text-decoration:none;}
a.tbl-heads-link:hover {opacity:0.8;}
.tbl-heads-link:after {width:13px; height:9px; content:' '; display:block; position:absolute; right:0; top:50%; margin:-6px 0 0 0; background:no-repeat center center url(../img/icons/arrw-down.png);}
.tbl-heads-link.type-up:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dash-table tr > td:first-child {padding-left:14px; border-left:1px solid transparent;}
.dash-table tr > td:last-child {border-right:1px solid transparent;}


.dash-table tbody td:after,
.dash-table tbody td:before {width:auto; height:1px; content:' '; display:block; position:absolute; left:-1px; right:-1px; background:#e4e4e4; opacity:1;}
.dash-table tbody td:after {top:0;}
.dash-table tbody td:before {bottom:-1px;}


.dash-table tbody tr.current > td:after,
.dash-table tbody tr.current > td:before,
.dash-table tbody tr.current-click > td:after,
.dash-table tbody tr.current-click > td:before{opacity:1; background:#238ed7; z-index:20;}

.dash-table tbody tr.current > td:first-child,
.dash-table tbody tr.current-click > td:first-child {border-left-color:#238ed7;}
.dash-table tbody tr.current > td:last-child,
.dash-table tbody tr.current-click > td:last-child {border-right-color:#238ed7;}


.dash-table .o-btn {padding:9px 9px 7px; font-size:15px; line-height:1.2; white-space:nowrap;}

.dash-table .o-btn.pseudo-select-txt:hover,
.pseudo-select.open-drop .o-btn.pseudo-select-txt {color:transparent;}
.dash-table .o-btn.pseudo-select-txt {text-align:left;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    transition: color .3s ease;
}
.dash-table .o-btn.pseudo-select-txt:after {
    position:absolute; left:50%; top:50%; margin:-5px 0 0 -9px; opacity:0;
    border-left:9px solid transparent; border-right:9px solid transparent; border-top:9px solid #fff;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.dash-table .o-btn.pseudo-select-txt:hover:after,
.pseudo-select.open-drop .o-btn.pseudo-select-txt:after {opacity:1;}

.tbl-check {width:2%;}
.tbl-number {width:1%;}
.tbl-title {width:6%;}
.tbl-contact {width:8%;}
.tbl-budget {width:7%;}
.tbl-tasks {width:11%;}
.tbl-typework {width:6%;}
.tbl-typepay {width:6%;}
.tbl-datestart {width:8%;}
.tbl-step {width:8%;}
.tbl-pay {width:8%;}
.tbl-responsible {width:8%;}
.tbl-datecreate {width:8%;}

.tbl-account-contact {width:9%;}
.tbl-number-of-order {width:6%;}

.tbl-block-company {display:block; font-weight:bold; color:#0f0f0f;}



.pages-list {display:inline-block; vertical-align:top;}
.pages-list > ul > li {display:inline;}
.pages-list > ul > li > a,
.pages-list > ul > li > span {
    height:37px; line-height:37px; min-width:37px; padding:0 5px; display:block; float:left; margin:0 0 0 -1px; border:1px solid #ebebeb; font-size:14px; color:#555555; text-decoration:none; text-align:center; background:#fff;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.pages-list > ul > li:first-child > a,
.pages-list > ul > li:first-child > span {
    -webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;
}
.pages-list > ul > li:last-child > a,
.pages-list > ul > li:last-child > span {
    -webkit-border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;
}

.pages-list > ul > li.pages-prev > a,
.pages-list > ul > li.pages-prev > span {line-height:100px; overflow:hidden; background:no-repeat center center url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALBAMAAAC0QAErAAAAGFBMVEUAAABVVVVVVVVVVVVVVVVVVVVVVVVVVVXMIJ7GAAAAB3RSTlMAzJkRRGYilqnp1QAAACxJREFUCNdjgAEWBgcgqcgkwMDAJKxoAGQaCTMwsJaFJzBA2BBxiBqoejAAAHj0A7m2iKQ2AAAAAElFTkSuQmCC');}

.pages-list > ul > li.pages-next > a,
.pages-list > ul > li.pages-next > span {line-height:100px; overflow:hidden; background:no-repeat center center url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALBAMAAAC0QAErAAAAFVBMVEUAAABVVVVVVVVVVVVVVVVVVVVVVVUkRNvEAAAAB3RSTlMAEcyZiDPdkmwR8wAAACpJREFUCNdjgABWgUAgyaLoJACkjIQVgSSzohGIk8xmAGGDxSFqIOqhAACBEQPs3o+5DwAAAABJRU5ErkJggg==');}

.pages-list > ul > li > a:hover {background-color:#eee;}
.pages-list > ul > li.active > a,
.pages-list > ul > li.active > span {color:#fff; background:#238ed7; cursor:default;}


.paginator-wrap {padding:25px 27px 25px; overflow:hidden; font-size:14px;}
.paginator-label {display:inline-block; vertical-align:top; margin:12px 0 9px 0; color:#999999;}
.paginator-wrap .pages-list {display:inline-block; vertical-align:middle;}
.paginator-wrap .pages-list + .pages-list {margin-left:26px;}
.paginator-label + .pages-list {margin-left:18px;}



.dash-table-report {position:relative;}
.dash-table-report table {width:100%; position:relative; table-layout:fixed; border-collapse:collapse; border-spacing:0;}
.dash-table-report th {padding:13px 6px 7px 6px; font-weight:800; font-size:14px; text-align:left; text-transform:uppercase;}
.dash-table-report td {
    padding:13px 6px 11px 6px; position:relative; border:0; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; font-size:15px; text-align:left;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.dash-table-report th.workday,
.dash-table-report th.freeday {
    text-align:center;
}
.dash-table-report td.workday,
.dash-table-report td.freeday {
    border:1px solid #e4e4e4; color:#555; text-align:center;
}
.dash-table-report td.freeday {background-color:#fef4f5;}

.dash-table-report > table > tbody > tr > td.workday::before,
.dash-table-report > table > tbody > tr > td.freeday::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 2px solid #ccc;
    content: '';
    opacity: 0;
    transition: opacity 0.2s;
    width: auto;
    height: auto;
}
.dash-table-report > table > tbody > tr > td.workday:hover::before,
.dash-table-report > table > tbody > tr > td.freeday:hover::before {opacity: 1;}

.dash-table-report > table > tbody > tr > td.current {cursor:pointer;}
.dash-table-report > table > tbody > tr > td.current::before {border-color:#21a1d2; opacity: 1;}
.dash-table-report > table > tbody > tr > td.current.type-duble::before {border-color:#21a1d2; opacity: 1;}
.dash-table-report > table > tbody > tr > td.current.type-duble::after {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left:50%;
    border: 2px solid #d42afd; border-left:0;
    content: '';
    transition: opacity 0.2s;
    width: auto;
    height: auto;
    z-index:3;
}

/* Report table nav */
.tbl-report-navs {width:36px; height:73px; display:block; overflow:hidden; position:absolute; top:50%; margin:-15px 0 0 0; text-decoration:none !important; z-index:3; cursor:pointer;}
.tbl-report-navs:before {width:17px; height:29px; content:' '; display:block; position:absolute; top:50%; margin:-15px 0 0 0; z-index:3;}
.tbl-report-navs:after {
    width:73px; height:73px; content:' '; display:block; position:absolute; top:0; background:rgba(0,0,0,0.15); z-index:2;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.tbl-report-navs.left {left:451px;}
.tbl-report-navs.right {right:0;}

.tbl-report-navs.left:after {right:0;}
.tbl-report-navs.right:after {left:0;}

.tbl-report-navs.left:before {left:4px; background:no-repeat center center url(../img/icons/report-arrw-left.png);}
.tbl-report-navs.right:before {right:4px; background:no-repeat center center url(../img/icons/report-arrw-right.png);}

.tbl-report-navs:hover:after {background-color:rgba(0,0,0,0.35);}
.tbl-report-navs:active:after {background-color:rgba(0,0,0,0.65);}
/* END - Report table nav */


.tbl-report-hday {display:inline-block; text-align:left;}
.tbl-report-day {display:block; margin:0 0 6px 0;}
.freeday {color:#ed2843;}

.dash-table-report .tbl-col-person,
.dash-table-report .tbl-col-total {width:196px; padding-left:10px;}
.dash-table-report td.tbl-col-person,
.dash-table-report td.tbl-col-total {padding-left:14px;}
.dash-table-report td.tbl-col-person {cursor:pointer;}
.dash-table-report .tbl-col-shifts {width:65px; text-align:center;}
.dash-table-report .tbl-col-charged {width:100px; text-align:center;}
.dash-table-report .tbl-col-balance {width:90px; text-align:center;}
.dash-table-report .tbl-col-total {font-weight:bold; font-size:18px;}


.tbl-box-hint {
    width:178px; display:block; padding:9px 0 0 0; position:absolute; left:0; top:100%; z-index: 235; cursor:default; opacity:0; visibility:hidden;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    -moz-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
}
.tbl-box-hint.pos-right {left:auto; right:0;}
.tbl-box-hint-ins {
    padding:18px 14px; border:1px solid rgb(235, 235, 235); font-size:15px; text-align:left; background-color: rgb(255, 255, 255);
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
    -webkit-box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.08); -moz-box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.08); box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.08);
}
.tbl-box-hint-item {color:#238ed7;}
.tbl-box-hint-item .txt-label {color:#02abed;}
.tbl-box-hint-item.clr-purple {color:#d928ff;}
.tbl-box-hint-item.clr-purple .txt-label {color:#d928ff;}
.tbl-box-hint-item + .tbl-box-hint-item {margin-top:13px;}

td.open-drop > .tbl-box-hint {
    opacity:1; visibility:visible;
}

.tbl-col-person .tbl-box-hint {width:208px; padding:0; margin:-3px 0 0 0; left:17px; color:#555;}
.tbl-box-hint-person-item {margin:12px 0 0 0;}

/* Tabs */
.o-tabs-box {display:none;}
.o-tabs-box.current {display:block;}




/* Tooltips */
.tooltipster-sidetip .tooltipster-box {
    border:1px solid transparent; font-size:15px; color:#000; background:#fff;
    -webkit-box-shadow:0 0 0 1px #ebebeb, 0 1px 7px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow:0 0 0 1px #ebebeb, 0 1px 7px 0 rgba(0, 0, 0, 0.08);
    box-shadow:0 0 0 1px #ebebeb, 0 1px 7px 0 rgba(0, 0, 0, 0.08);
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.tooltipster-sidetip .tooltipster-content {
    padding:8px 12px 6px; line-height:1.38; color:#000; background:#fff;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {bottom:-2px;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {border-top-color:#ebebeb;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {border-top-color:#fff;}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {border-bottom-color:#ebebeb;}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {border-bottom-color:#fff;}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {border-left-color:#ebebeb;}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {border-left-color:#fff;}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {border-right-color:#ebebeb;}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {border-right-color:#fff;}


/* Alert */
.alert {
    padding: 15px; position:relative; margin-bottom: 20px; border: 1px solid transparent;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}
.alert .close {
    width:20px; height:20px; padding:0!important; margin:0!important; border:0; background:0; z-index:10; opacity:0.8;
    position: absolute; top: 5px; right: 5px; color: inherit;
}
.alert .close:hover {opacity:1;}
.alert .close:after {content:'✖';}
.alert h4 {margin-top: 0; color: inherit;}
.alert > p,
.alert > ul {margin-bottom: 0;}
.alert li + li {margin-top: 5px;}
.alert li {position:relative;}
.alert li:before {
    width:5px; height:5px; content:'\2022'; margin:0 4px 0 0;
}
.alert-success {background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;}
.alert-info {background-color: #d9edf7; border-color: #bce8f1; color: #31708f;}
.alert-warning {background-color: #fcf8e3; border-color: #faebcc; color: #8a6d3b;}
.alert-danger {background-color: #f2dede; border-color: #ebccd1; color: #a94442;}



/* END */