.interval-dash {
    font-size: 18px; font-weight: 700; padding-top: 4%;
}

ul.dash-search-drop-list > li.current {
    color: #02abed;
}


/*bgs order status*/
.bgs-first {
    background-color: #fbbc2f;
}
.bgs-agree {
    background-color: #f7ab31;
}
.bgs-agreed {
    background-color: #78e79b;
}
.bgs-confirmed {
    background-color: #36bef8;
}
.bgs-work {
    background-color: #2ba1e9;
}
.bgs-performed {
    background-color: #935892;
}
.bgs-final_positive {
    background-color: #935892;
}
.bgs-final_negative {
    background-color: #d02b29;
}
/*bgs order status*/

#js-kp-order-boxdata-company-insert {
    background: #e3f4fc;
    padding: 20px;
}
